<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for ('static', filename='login.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">        
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous" defer></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous" defer></script>
    </head>
    <body>
        {% if state == 'Registration' %}
            <form action="/save-registration" method="post">
                <div class='container'>
                    <div class='header'><h1>{{ state }}</h1></div>
                    {% if error_message is not none %}
                        <div class='header'><h3>{{ error_message }}</h3></div>
                    {% endif %}
                    <div class='label'><label for="username">Username</label></div>
                    <div class='input'><input type="text" name="username"></div>
                    <div class='label'><label for="password">Password</label></div>
                    <div class='input'><input type="password" name="password"></div>
                    <div><button class='btn btn-success' type="submit">Register</button></div>
                </div>
            </form>
        {% else %}
            <form action="/valid-login" method="post">
                <div class='container'>
                    <div class='header'><h1>{{ state }}</h1></div>
                    {% if error_message is not none %}
                        <div class='header'><h3 class='header'>{{ error_message }}</h3></div>
                    {% endif %}
                    <div class='label'><label for="username">Username</label></div>
                    <div class='input'><input type="text" name="username"></div>
                    <div class='label'><label for="password">Password</label></div>
                    <div class='input'><input type="password" name="password"></div>
                    <div><button class='btn btn-success' type="submit">Login</button></div>
                </div>
            </form>
        {% endif %}
        </form>
    </body>
</html>

